@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/proxima_ssv/ProximaNova-Regular.otf) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/proxima_ssv/ProximaNova-Bold.otf) format('woff');
}
